@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:wght@200&display=swap");

/*? MARGİN,PADDİNG VE BOX-SİZİNG:BORDER-BOX; SIFIRLAMA*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} /*? MARGİN,PADDİNG VE BOX-SİZİNG:BORDER-BOX; SIFIRLAMA*/

.navbar {
  height: 60px;
  background-color: #131921;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.navlogo {
  height: 60px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  height: 50px;
  width: 100%;
}

.border {
  border: 1px solid transparent;
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 5px;
}
.border:hover {
  border: 1px solid white;
}
.add-first {
  color: #a5a7aa;
  font-size: 13.6px;
  margin-left: 3px;
}
.add-second {
  font-size: 16px;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  background-color: pink;
  border-radius: 5px;
  margin-top: 10px;
}
.search-select {
  background-color: #d4d4d4;
  width: 80px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
}
.search-input {
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  text-indent: 5px; /* yazının girdisini uzaklaştırır*/
}
.search-icon {
  width: 45px;
  background-color: #f3a847;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-search:hover {
  border: 2px solid #f3a847;
}
span {
  font-size: 11px;
  font-weight: 700;
}

.nav-card i {
  font-size: 30px;
}
.nav-card {
  font-size: 13.6px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.panel {
  background-color: #232f3e;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel-ops {
  width: 70%;
}

.panel-ops p {
  display: inline-flex;
  height: 40px;
  margin-left: 15px;
}
.panel-deals {
  font-size: 15px;
  font-weight: 700;
  padding: 0 3px;
}

/*? HERO AREA*/
.hero-section {
  background-image: url("hero_image\ \(1\).jpg");
  background-size: cover;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-bottom: 5px;
  font-size: 14px;
}
.hero-msg a {
  color: #046f86;
  text-decoration: none;
  margin-left: 3px;
}
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e7e8e8;
}
.box {
  height: 402px;
  /* border: 1px solid red; */
  width: 23%;
  background-color: white;
  padding: 20px 15px;
  margin-top: 15px;
}
.box-img {
  background-size: cover;
  height: 300px;
  margin: 1px 0;
  border-radius: 5px;
}
.box-content {
  margin-left: 16px;
  margin-right: 16px;
}
.box-content p {
  color: #6ca6b3;
  padding-bottom: 5px;
}

/*!SHOP SECTİON 2 */
.container {
  background-color: #e7e8e8;
}
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.title a {
  text-decoration: none;
  color: #046f86;
}
.title a:hover {
  text-decoration: underline;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.box1{
  height: 330px;
  background-color: white;
  padding:10px 20px;
}
.box1-content{
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: start;
  margin: 5px 0;
}
.image img{
  height: 250px;
  width: 100%;
}
.box1-content p {
  color:#cc0a39;
  font-size: 15px;
}
.box1-content p span{
  font-size: 15px;
  background-color: #cc0a39;
  color: white;
  margin-right: 6px;
}
/* ! footter area */

footer{
  margin-top: 15px;
  background-color: #364759;
}
.foot-panel1{
  background-color: #364759;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
}
.foot-panel1 a {
  text-decoration: none;
  color: white;
}
.foot-panel1:hover{
  opacity:0.9;
  transition: opacity 0.3s;
  cursor: pointer;
}
/* foot area 2 */
.foot-panel2{
  background-color: #232F3E;
  color: white;
 height: 220px;
 display: flex;
 justify-content: space-evenly;
}

.foot-panel2 a{
display: block;
font-size: 13px;
color: #c9c9c9;
margin-top: 10px;
text-decoration: none;
}
.foot-panel2 ul{
  margin-top: 20px;
}
.foot-panel2 p{
  font-size: 18px;
  
}
.foot-panel2 a:hover{
  transition: color 0.3s;
  color: #fabd68;

}


.foot-panel3{
  background-color: #232F3E;
  border-top: 0.5px solid white;
  display: flex;
  flex-direction: column;
}

.foot-panel3 .logo{
  width: 150px;
  height: 50px;
  margin: auto;
  margin-top: 5px;
}

.foot-panel3 ul{
display: flex;
justify-content: center;
align-items: center;
gap: 15px ;
text-decoration: none;
}

.foot-panel3 ul a{
  font-size: 13px;
  color:white;
  text-decoration: none;
  margin-bottom: 15px;
  
}
.foot-panel3 ul a:hover{
  text-decoration: underline;
  cursor: pointer;
}

.foot-panel4{
  background-color: #131A22;
  color: white;
  height: 80px;
  font-size: 12px;
text-align: center;
 
}
.pages{
  padding-top:  25px;
}
.pages a{
  margin-left: 10px;
  color: rgb(216, 216, 216);
  text-decoration: none;
}
.pages a:hover{
  text-decoration: underline;
  color: white;
}
.pages p{
  padding-top: 10px;
}